<div data-userid="<%= @user.id %>" data-roundid="<%= @round.id %>" data-deckid="<%= @deck.id %>" data-newcardid="<%= @newcard.id %>" id="question">

  <div class="center">
    <h3><%= @result %></h3>
    <br>
    <br>
    <h2><%= @deck.name %></h2>
    <h3>Question: <%= @newcard.question %></h3>
    <br>
    <form id="guess" action="/user/<%=@user.id%>/round/<%=@round.id%>/deck/<%=@deck.id%>/card/<%=@newcard.id%>" method="POST">
      <h3><label for="answer">Answer:</label></h3>
      <input id="answer" type="text" name="answer"> 
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
