  <h1><%= (@user.email.gsub(/(@.+)/,'')).capitalize %>'s History</h1>
  
  <h4>Your Scores</h4>

  <table>
    <tr>
      <th>Deck</th>
      <th>Score</th>
      <th>Date/Time</th>
    </tr>
    <% @user.rounds.each do |round| %>
      <tr>
        <td><%= round.deck.name %></td>
        <td><%= (round.score.to_f / round.deck.cards.length * 100).to_i %>%</td>
        <td><%= round.updated_at.strftime("%m/%d/%Y at %l:%M%P") %></td>
      </tr>
    <% end %>
  </table>

  <p><a href="/user/<%= @user.id %>">Go Back</a></p>



