<div class="container">
  <h1>Welcome, <%= (@user.email.gsub(/(@.+)/,'')).capitalize %></h1>
  
  <h4>Pick a Deck...</h4>
  <ul>
    <% @decks.each do |deck| %>
    <li> <a href="/user/<%=@user.id%>/deck/<%=deck.id%>"><%= deck.name %> </a></li>
    <% end %> 
  </ul>

  <p><a href ="/user/<%=@user.id%>/history">view my history</a></p>
  <p><a href="/logout">Logout</a></p>
</div>

